$dgreen : #008e97;
$dorange : #FC4C02;

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {
    height: 250px;
    width: 100%;
    margin-left: 10vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px; 
    position: relative;
}

.diagonal {
    clip-path: polygon(0 0, 60% 0, 90% 100%, 30% 100%);
    width: 600px;
    height: 200px;
}

.di-left {
    background-color: rgba($dgreen, 0.75);
    grid-column: 1 / 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.di-right {
    background-color: rgba($dorange, 0.75);
    margin-left: -240px;
    grid-column: 2 / 2; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: white;
    margin-left: 40px;
    text-transform: uppercase;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 7px;
    padding-left: 40px;
}

.navitem {
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.navitem-1 {
    margin-left: 5px;
}

main {
    width: 100px;
}

aside {
    width: 100px;
}

@media only screen and (max-width: 1000px) {
    header {
        margin: 0;
        width: 100vw;
        display: block;
    }
    .diagonal {
        width: 100vw;
        height: 150px;
        clip-path: none;
    }
    .di-right {
        height: 60px;
        width: auto;
        display: block;
    }
    nav {
        margin-left: 200px;
    }
    .title {
        margin-left: 0;
    }
}