$dgreen : #008e97;
$dorange : #FC4C02;

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {
    height: 250px;
    width: 100%;
    margin-left: 10%;
    /* display: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px; */
}

.diagonal {
    clip-path: polygon(0 0, 60% 0, 90% 100%, 30% 100%);
    width: 700px;
    height: 200px;
}

.di-left {
    background-color: rgba($dgreen, 0.75);
    display: inline-block;
}

.di-right {
    background-color: rgba($dorange, 0.75);
    margin-left: -285px; 
    display: inline-block;
}

.title {
    font-family: 'Quando', serif;
    font-size: 72px;
    color: white;
    left: 25%;
    top: 105px;
    z-index: 1;
    position: absolute;
}

main {
    width: 100px;
}

aside {
    width: 100px;
}

.navitem {
    text-decoration: none;
    grid-column: 3 / 4;
}