* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 150px;
  width: 100%;
  margin-left: 8vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  position: relative;
}

.diagonal {
  -webkit-clip-path: polygon(0 0, 70% 0, 90% 100%, 20% 100%);
          clip-path: polygon(0 0, 70% 0, 90% 100%, 20% 100%);
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.di-left {
  background-color: rgba(0, 142, 151, 0.75);
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.di-right {
  background-color: rgba(252, 76, 2, 0.75);
  margin-left: -181px;
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: white;
  text-transform: uppercase;
}

nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 7px;
}

.navitem {
  margin-left: 15px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

.navitem.navitem-1 {
  margin-left: 5px;
}

.navitem:hover {
  border-bottom: 2px solid #fff;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.navitem:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

main {
  width: 900px;
  height: auto;
  padding: 50px 250px 40px 40px;
  margin-left: 15vw;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.intro {
  font-family: 'Quando';
  font-size: 14px;
  margin-bottom: 50px;
}

.menu {
  margin: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.menu-pic {
  background-size: cover;
  width: 55px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 40% 100%;
  display: inline-block;
}

.drink {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.drink-pic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 142, 151, 0.4)), to(rgba(252, 76, 2, 0.4))), url("images/coffe-3.jpg");
  background-image: linear-gradient(rgba(0, 142, 151, 0.4), rgba(252, 76, 2, 0.4)), url("images/coffe-3.jpg");
}

.food {
  -ms-grid-column: 4;
  grid-column: 4 / 4;
}

.food-pic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 142, 151, 0.4)), to(rgba(252, 76, 2, 0.4))), url("images/sandwich-1.jpg");
  background-image: linear-gradient(rgba(0, 142, 151, 0.4), rgba(252, 76, 2, 0.4)), url("images/sandwich-1.jpg");
}

aside {
  position: absolute;
  top: 250px;
  left: 1000px;
}

video {
  width: 300px;
}

@media only screen and (max-width: 1075px) {
  header {
    margin: 0;
    height: auto;
    width: 100%;
    display: block;
  }
  .diagonal {
    width: auto;
    height: auto;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .di-right {
    width: auto;
    height: 20%;
    display: block;
  }
  nav {
    margin-left: 80px;
  }
  .title {
    margin-left: -100px;
  }
  main {
    width: 80vw;
    margin: auto;
    padding: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    margin-left: auto;
    width: 100%;
    margin-right: 15px;
  }
  nav {
    margin-left: 190px;
    width: 100vw;
    padding-right: 30px;
  }
  main {
    margin: 0;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=style.css.map */