$dgreen : #008e97;
$dorange : #FC4C02;

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {
    height: 200px;
    width: 100%;
    margin-left: 10vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px; 
    position: relative;
}

.diagonal {
    clip-path: polygon(0 0, 60% 0, 90% 100%, 30% 100%);
    width: 600px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.di-left {
    background-color: rgba($dgreen, 0.75);
    grid-column: 1 / 1;
}

.di-right {
    background-color: rgba($dorange, 0.75);
    margin-left: -240px;
    grid-column: 2 / 2; 
    // display: flex;
    // align-items: flex-end;
    // flex-wrap: wrap;
    // justify-content: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: white;
    margin-left: 40px;
    text-transform: uppercase;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 7px;
    padding-left: 60px;
}

.navitem {
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    &.navitem-1 {
        margin-left: 5px;
    }
}



main {
    width: 800px;
    height: 70vh; 
    padding: 40px 250px 40px 40px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
                0 2px 2px rgba(0,0,0,0.1), 
                0 4px 4px rgba(0,0,0,0.1), 
                0 8px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-left: 20vw;
}

aside {
    width: 100px;
}

@media only screen and (max-width: 1000px) {
    header {
        margin: 0;
        height: auto;
        width: 100%;
        display: block;
    }
    .diagonal {
        width: auto;
        height: auto;
        clip-path: none;
    }
    .di-right {
        width: auto;
        height: 20%;
        display: block;
    }
    nav {
        margin-left: 80px;
    }
    .title {
        margin-left: -100px;
    }
    main {
        width: 80vw;
        margin: 0 5%;
        padding: 40px;
    }
}


@media only screen and (max-width: 400px) {
    .title {
        margin-left: auto;
        width: 100%;
    }
    nav {
        margin-left: 190px;
        width: 100vw;
    }
}